body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to top, #8e5cac, #6ec283);
    color: white;
    text-align: center;
    height: 100vh;
    padding-top: 100px;
}

.sect{
    border: solid black;
}

#cont{
      display: grid;
      grid-template-columns: 50% 50%; /* 2 columnas iguales */
      height: 100vh;                  /* Ocupa toda la altura de la ventana */
      width: 100vw;                   /* Ocupa todo el ancho */
}




    #ima {
      color: #cc0000;
    }
    #imagen {
      max-width: 90%;
      height: auto;
      border-radius: 10px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.2);
      margin: 20px 0;
      transition: transform 0.3s;
    }
    img:hover {
      transform: scale(1.05);
    }
    button {
      padding: 10px 20px;
      font-size: 1em;
      background-color: #0077cc;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background 0.3s;
    }
    button:hover {
      background-color: #005fa3;
    }